<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479780831148-q29oga5ipuqmnd05dfmjurjp09abbc5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479780831148-q29oga5ipuqmnd05dfmjurjp09abbc5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCeOk0DXEC3G23ucCiQxJ3jNXTAlilNxPI</string>
	<key>GCM_SENDER_ID</key>
	<string>479780831148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.example.templateone</string>
	<key>PROJECT_ID</key>
	<string>template-one-fe791</string>
	<key>STORAGE_BUCKET</key>
	<string>template-one-fe791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479780831148:ios:b670851e5602633b380409</string>
	<key>DATABASE_URL</key>
	<string>https://template-one-fe791.firebaseio.com</string>
</dict>
</plist>